* {
    padding: 0;
    margin: 0;
}
.pre,
.next {
    position: fixed;
    top: 50%;
    font-size: 2rem;
    padding: 0.3rem;
    cursor: pointer;
}

.next {
    right: 0%;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
}

.item {
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 1rem;
    padding: 0.5rem;
    /* border: 1px solid; */
    align-items: center;
    color: black;
    box-shadow: 0px 0px 4px black;
}
.item img {
    width: 70%;
    margin-bottom: 1rem;
}
.item .title {
    font-weight: border;
}
a {
    text-decoration: none;
}

.texts > * {
    margin: 1rem 0;
}
.texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
}
